.all-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #fffafa;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 3px 5px 10px lightgray;
}