#main-window-my-products {
    display: flex;
    height: 76vh;
    font-family: Alef, sans-serif;
}

#my-products-content {
    border: 1px solid lightgray;
    box-shadow: 3px 5px 10px lightgray;
    border-radius: 10px;
    margin-left: 5rem;
    height: 90%;
    width: 1300px;
    margin-right: 5rem;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*overflow: scroll;*/
    /*max-height: 80%; !* Adjust the height as needed *!*/
    overflow-y: auto;
    background-color: #fffafa;
}