/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Header */
.header {
    font-size: 1.1rem;
    font-family: 'Alef', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #40ba21 0%, #00b158 100%);
    padding: 1em 18em;
    height: 10vh;
}

@media (max-width: 1200px) {
    .header {
        padding: 1em 10em;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 1em 5em;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 1em 1em;
        flex-direction: column;
    }
}

/* Logo */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}

.logo_circle {
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
    font-size: 2rem;
    color: #40ba21;
    font-weight: 700;
    text-align: center;
    background: #fff;
    margin-right: 5px;
}

/* User Actions */
.user_action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.user_action img {
    width: 64px;
    height: 48px;
}

.login {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
}

.login img {
        width: 32px;
        height: 32px;
    }


/* Searchbar */
.searchbar {
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    width: 45em;
    padding: 5px 10px;
    height: 3em;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 1200px) {
    .searchbar {
        width: 35em;
    }
}

@media (max-width: 768px) {
    .searchbar {
        width: 25em;
    }
    .logo p {
        display: none;
    }
    
    .login img {
        width: 32px;
        height: 32px;
    }
    
    #search-image {
        display: none;
    }

    #search-button {
        display: none;
    }
}

@media (max-width: 480px) {
    .searchbar {
        width: 100%;
        margin-top: 10px;
    }
    .logo p {
        display: none;
    }
    .login img {
        width: 32px;
        height: 32px;
    }
}

.searchbar input {
    background: transparent;
    outline: none;
    border: 0;
    flex: 1;
}

#search-image {
    height: 1rem;
    width: 1rem;
}

#search-button {
    background-color: white;
    border: none;
    cursor: pointer;
}

/* Wishlist */
.wishlist {
    padding-right: 20px;
}
