#product-div {
    height: 300px;
    width: 300px;
    padding: 10px 10px;
    text-align: center;
    overflow-y: auto;
}

#product-image {
    height: 200px;
}

#product-div:hover {
    opacity: 0.7;
    cursor: pointer;
}

.price {
    color: palevioletred;
}